:root {
  --primarycolor: #d8dbd6;
  --secondarycolor: #009688;
  --txt-color: #b0b0b0;
}

img {
  max-width: 100%;
}

.bg-page {
  background-color: var(--primarycolor);
}

.bg-green {
  background-color: var(--secondarycolor);
  height: 150px;
  position: relative;
}

.chat-container {
  height: calc(100vh - 50px);
  position: absolute;
  top: 0;
  left: 14%;
}

.chat {
}

.chatname {
  background-color: #eaeaea;
  height: 70px;
}

.chatname img {
  width: 50px;
}

.under-txt {
  font-size: 13px;
  color: var(--txt-color);
}

.chat-icons {
  color: var(--txt-color);
}
