/* GENERALS */

:root {
  --primarycolor: #d8dbd6;
  --secondarycolor: #009688;
  --txt-color: #686868;
  --under-txt-color: #cccccc;
  --alert-msg: #8edafc;
}

img {
  max-width: 100%;
}

/* UTILITIES */
/* tutte le regole del background e delle proprietà generali*/

body {
  background-image: linear-gradient(to bottom, #009688 10vh, #d8dbd6 10vh);
  height: 100vh;
}

.chat-container {
  height: calc(100vh - 50px);
}

/* UTILITIES - text properties */

.font-bold {
  font-weight: 600;
}

.xs-txt {
  font-size: 13px;
}

.txt {
  color: var(--txt-color);
}
.secondary-txt {
  color: var(--under-txt-color);
}

i {
  color: #b1b1b1;
}

.scroll {
  overflow-y: scroll;
  height: calc(100% - 190px);
}

.alt {
  height: 100%;
}

/* CHAT LIST */

/* chatbar */
.chatbar {
  background-color: #eaeaea;
  height: 70px;
}

img {
  width: 50px;
}

/* notice alert */
.notice-alert {
  background-color: var(--alert-msg);
  height: 70px;
}
.i-bell {
  color: var(--alert-msg);
  background-color: #eaeaea;
  padding: 10px;
}

/* searchbar chatlist */

.s-bar {
  background-color: #fafafa;
  height: 50px;
}

.form-control {
  font-size: 0.75rem;
}

/* CHAT */

/* MESSAGE BAR */

.chat {
  position: relative;
}

.msg-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #f3eeea;
  height: 60px;
}

.msg-bar i {
  color: #6a7376;
}

/* MESSAGE AREA */

.msg-area {
  background-image: url(../img/mine.jpg);
  height: 100%;
}
.msg-bar input {
  height: 45px;
}

.over {
  overflow-y: hidden;
}

.msg {
  position: relative;
  border-radius: 5px;
  width: 30%;
  max-width: 40%;
  background-color: #ffff;
}

.msg-time {
  position: absolute;
  right: 10px;
  bottom: -10px;
  font-size: 10px;
}

.msg-send {
  background-color: #d5f9ba;
  margin-left: auto;
}
